{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<main class="content">

	{% include "partials/_hero.html" %}
	{% include "partials/_conference-sponsor.html" %}
	{% include "partials/_numbers.html" %}
	{% include "partials/_reviews.html" %}
	{% include "partials/_packages.html" %}
	{% if not info.isOneStopShopShow %}
	{% include "partials/_ecosystem.html" %}
	{% endif %}
	{% if not info.isBannerShow %}
	{% include "partials/_banner.html" %}
	{% endif %}
	{% include "partials/_demographics.html" %}
	{% include "partials/_follow-us.html" %}
	<!-- <div class="devider"></div> -->

	{% include "partials/_features.html" %}
	{% include "partials/_partners.html" %}
	{% if not info.isAboutShow %}
	{% include "partials/_about.html" %}
	{% endif %}
</main>

{% include "partials/_footer.html" %}
{% include "partials/popups/_popup-package.html" %}

{% endblock %}
