.about
	&__content
		display: grid
		grid-template-columns: 1fr 50%
		align-items: flex-start
		gap: 20px 40px
		margin-top: 80px
		+md
			grid-template-columns: 1fr
		+sm
			margin-top: 50px

		&-title
			font-size: clamp(26px, 5.5vw, 56px)
			line-height: 1.1
			color: var(--clr-theme)
			font-weight: 500
			text-transform: uppercase
		&-text
			width: 55%
			margin-top: 65px
			+md
				margin-top: 50px

	&__text
		color: #fff
		line-height: 1.8
