
.conferences-swiper
	margin-top: 50px
	overflow: visible
	margin-left: -4px
	margin-right: -4px
	+md
		margin-top: 10px
		margin-left: 0
		margin-right: 0

	.swiper-wrapper
		display: grid
		grid-template-columns: repeat(100, auto)
		padding: 30px 4px

		+md
			padding: 15px 0

	.swiper-slide
		width: 290px
		+sm
			width: 168px

.conferences-item
	outline: 1px solid var(--clr-black-300)
	border-radius: 30px
	padding: 29px
	display: grid
	grid-template-rows: subgrid
	grid-row: span 3
	cursor: pointer
	transition: outline-color 0.2s linear
	position: relative
	z-index: 1
	+rmin(1025px)
		&:hover, &:focus-visible
			outline-color: var(--clr-theme)
			z-index: 3
			& + .conferences-item
				z-index: 2
			&:after
				opacity: 0.2
			.conferences-item__arrow
				opacity: 1
	+sm
		padding: 20px
		border-radius: 20px
	&:after
		content: ''
		+coverdiv
		box-shadow: 0px 0px 30px 0px var(--clr-theme)
		opacity: 0
		transition: opacity 0.2s linear
		border-radius: inherit
		pointer-events: none
	&__img
		height: 120px
		margin-bottom: 95px
		+sm
			height: 68px
			margin-bottom: 30px
		img
			width: 120px
			height: 120px
			border-radius: 50%
			object-fit: cover
			+sm
				height: 68px
				width: 68px
	&__body
		margin-top: auto
		padding-right: 66px
		+md
			padding-right: 60px
		+sm
			padding-right: 0
	&__title
		font-size: 24px
		text-transform: uppercase
		line-height: 0.9
		font-weight: 500
		+sm
			font-size: 18px

	&__date
		font-size: 14px
		color: var(--clr-gray-100)
		text-transform: uppercase
		margin-top: 35px
		font-weight: 500
		line-height: 1

		+sm
			font-size: 12px
			padding-right: 40px
			margin-top: 15px
	&__arrow
		position: absolute
		bottom: 20px
		right: 20px
		width: 60px
		height: 60px
		display: flex
		align-items: center
		justify-content: center
		background: var(--clr-theme)
		border-radius: 50%
		opacity: 0
		transition: opacity 0.2s linear
		+md
			opacity: 1
			width: 50px
			height: 50px
			background: transparent
			border: 1px solid var(--clr-black-300)
			bottom: 20px
			right: 20px
		+sm
			width: 40px
			height: 40px
			bottom: 10px
			right: 10px
		.icon
			font-size: 22px
			color: var(--clr-black)
			transform: rotate(-45deg)
			+md
				color: #fff
				font-size: 18px
			+sm
				font-size: 16px
