.hero
	background: var(--clr-black) url('../img/hero-bg.webp') repeat-x bottom center
	background-size: cover
	min-height: 100vh
	min-height: 100svh
	display: flex
	padding: 54px 0 200px
	border-bottom: 1px solid var(--clr-black-300)
	position: relative
	z-index: 2
	+sm
		padding: 40px 0 80px

	.container
		width: 100%
		display: flex
		flex-direction: column
		gap: 60px
		+md
			gap: 50px
		+sm
			gap: 12vh

	&__top
		display: grid
		gap: 63px 40px
		grid-template-columns: 1fr min-content 1fr
		align-items: flex-start
		padding-top: 5px
		+md
			grid-template-columns: 1fr 1fr
			gap: 8vh 20px
		+sm
			grid-template-columns: 1fr
			gap: 4px
			padding-top: 0

	&__date
		grid-column: 1/2
		grid-row: 1/2
		font-size: 16px
		font-weight: 500
		line-height: 1
		text-transform: uppercase
		+md
			grid-row: 2/3
			text-align: center
		+sm
			grid-row: auto

	&__logo
		grid-column: 2/3
		grid-row: 1/2
		display: flex
		align-items: center
		gap: 20px

		+md
			grid-column: 1/4
			justify-content: center
			gap: 15px
		+sm
			grid-row: auto
			grid-column: 1/2
			margin-bottom: 7vh

	&__location
		grid-column: 3/4
		grid-row: 1/2
		text-align: right
		font-size: 16px
		font-weight: 500
		line-height: 1
		text-transform: uppercase
		+md
			grid-row: 2/3
			grid-column: 2/3
			text-align: center
		+sm
			grid-row: auto
			grid-column: 1/2
	&__name
		text-transform: uppercase
		font-size: 24px
		font-weight: 500
		line-height: 1
		width: min-content
		+md
			font-size: 18px

	&__middle
		margin: auto 0
		text-align: center
		+sm
			margin-top: 0
	&__sponsorship
		font-size: 24px
		font-weight: 500
		text-transform: uppercase
		color: var(--clr-theme)
		margin-bottom: 20px
		+md
			font-size: clamp(12px, 2.4vw, 20px)
	&__title
		font-size: 72px
		text-transform: uppercase
		font-weight: 500
		line-height: .9
		text-wrap: balance
		margin: 0
		+lg
			font-size: 62px
		+md
			font-size: clamp(30px, 6.2vw, 52px)
			line-height: 0.9
		+xxs
			font-size: 24px
	&__video
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		z-index: -1
		+sm
			display: none
		video
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
			pointer-events: none
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			pointer-events: none
			z-index: 1
			background: rgba(0, 0, 0, 0.7)
.logo
	display: block
	width: 110px
	height: 110px
	border-radius: 50%
	overflow: hidden
	flex: none
	+md
		width: 80px
		height: 80px
	img
		width: 100%
		height: 100%
		object-fit: cover
