<section class="section sec-about">
	<div class="container">
		<div class="section__head shine">
			<h3 class="section__suptitle">{{info.aboutTitle}}</h3>
			<h2 class="section__title">{{info.aboutSubTitle}}</h2>
		</div>
		{% if info.aboutTextFirst %}
		<div class="about__content">
			<div class="about__content-right styled-text styled-text--gray">
				{{ info.aboutTextFirst | safe }}
			</div>
		</div>
		{% endif %}

		{% if info.aboutTextSecond %}
		<div class="about__content">
			<div class="about__content-left">
				GitNation Exclusives:
			</div>
			<div class="about__content-right styled-text styled-text--gray">
				{{ info.aboutTextSecond | safe }}
			</div>
		</div>
		{% endif %}
	</div>
</section>