<section class="section sec-about">
	<div class="container">
		<div class="section__head">
			<h3 class="section__suptitle">About the organiser</h3>
			<h2 class="section__title">we are cover every major tech community in the JavaScript domain</h2>
		</div>
		<div class="about__content">
			<div class="about__content-left">
				Sponsoring professional tech events yields a variety of benefits for your brand and product, multiplying the efficiency of your DevRel marketing and sales strategies.
			</div>
			<div class="about__content-right styled-text styled-text--gray">
				<p>GitNation has been developing tech communities and organizing premier conferences for more than 8 years.</p>
				<p>12+ events annually, across major hubs in Europe and most recently, North America (New York).</p>
				<p>We have pioneered engaging remote conferences that further developed into innovative hybrid format multiplying reach, backed by in-house, dedicated events and digital content platforms.</p>

			</div>

		</div>

		<div class="about__content">
			<div class="about__content-left">
				GitNation Exclusives:
			</div>
			<div class="about__content-right styled-text styled-text--gray">
				<ul>
					<li>5-6+ year old established event brands with accumulated reach and high quality bar</li>
					<li>Dedicated onboarding manager and partner's handbook, with proven strategies to maximize the sponsorship package</li>
					<li>In-house built event platform and native integration for lead gen, viral social campaigns, live workshops, and recorded content</li>
					<li>Exclusive integration with “Netflix for developers” global product - <a href="#">GitNation.com</a></li>
					<li>Wide presence across social media channels and exclusive collaborations with influencers and media</li>
				</ul>
			</div>

		</div>


	</div>
</section>
