<section class="section sec-promo-banner" id="promo-banner">
	<div class="container">
		<div class="banner" style="background-image: url('{{info.bannerBg.asset.url}}');">
			<a href="{{info.bannerUrl}}" class="banner__link">&nbsp;</a>
			<div class="banner__head">
				<div class="banner__logo">
					<img src="{{info.bannerLogo.asset.url}}" alt="" role="presentation">
				</div>
				<div class="banner__date">{{info.bannerDate}}</div>
			</div>
			<div class="banner__content">
				<h2 class="banner__title">{{info.bannerTitle}}</h2>
				<div class="banner__text">{{info.bannerDescription}}</div>
				<div class="banner__tags">
					{% for tag in info.bannerTags %}
					<span>{{tag}}</span>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</section>
