<section class="section sec-follow-us" id="follow-us">
	<div class="container">
		<div class="sec-follow-us__img">
			<img src="img/follow-us-img.jpg" alt="">
		</div>
		<div class="section__head">
			<h2 class="section__title">Follow us for updates</h2>
			<div class="section__description">
				Subscribe to our conference newsletter and get the latest updates and special deals
			</div>
		</div>


		<div class="follow-us">
			<form action="#">
				<input type="email" required placeholder="your@mail" class="follow-us__input" />
				<button class="follow-us__btn btn btn--outline">Subscribe</button>
			</form>
		</div>
	</div>
</section>
