<footer class="footer section" id="footer">
	<div class="container">
		<h3 class="section__title">Follow us</h3>
		<div class="footer__socials">
			<ul class="social social--theme">
				{% if info.twitterUrl %}<li class="social__item"><a href="{{ info.twitterUrl }}" class="social__link" target="_blank">{{mixins.icon('tw')}}</a></li>{% endif %}
				{% if info.facebookUrl %}<li class="social__item"><a href="{{ info.facebookUrl }}" class="social__link" target="_blank">{{mixins.icon('fb')}}</a></li>{% endif %}
				{% if info.youtubeUrl %}<li class="social__item"><a href="{{ info.youtubeUrl }}" class="social__link" target="_blank">{{mixins.icon('yt')}}</a></li>{% endif %}
				{% if info.mediumUrl %}<li class="social__item"><a href="{{ info.mediumUrl }}" class="social__link" target="_blank">{{mixins.icon('med')}}</a></li>{% endif %}
				{% if info.slackUrl %}<li class="social__item"><a href="{{ info.slackUrl }}" class="social__link" target="_blank">{{mixins.icon('sl')}}</a></li>{% endif %}
			</ul>
		</div>
	</div>

	<div class="footer__basement" style="background-image: url(img/footer-bg.png)">
		<div class="footer__logo">
			<div class="f-logo">
				<span class="f-logo__label">Event by</span>
				<span class="f-logo__icon">
					<img src="img/f-logo.svg" alt="Frontend nation">
				</span>
				<a href="https://gitnation.org" class="f-logo__author">GitNation</a>
			</div>
		</div>
	</div>
</footer>
