<!-- <section class="section intro">
	<div class="intro__bg" data-aos="zoom-out" data-aos-delay="0" data-aos-duration="1000"></div>
	<div class="intro__inner">
		<div class="intro__logo" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">
			<a href="./" class="logo">
				<img src="{{ info.logo.asset.url }}" alt="Logo" class="logo__img">
			</a>
		</div>
		<h2 class="intro__title" data-aos="fade-in" data-aos-delay="700" data-aos-duration="1000">{{ info.introTitle }}</h2>
		<p class="intro__tip" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">{{ info.introSubtitle }}</p>
	</div>
</section> -->


<section class=" hero" id="hero">
	<div class="container">
		<div class="hero__top">
			<div class="hero__logo">
				<a href="#" class="logo">
					<img src="https://gitnation.imgix.net/stichting-frontend-amsterdam/image/upload/v1619376923/fszvxiu9y2alolt9eymk.jpg?auto=format,compress&fit=scale&w=300" alt="React Summit 2024">
				</a>
				<h1 class="hero__name">React Summit 2024</h1>
			</div>
			<div class="hero__date">June 14 - 18, 2024</div>
			<div class="hero__location">Amsterdam & Online</div>
		</div>

		<div class="hero__middle">
			<h2 class="hero__title">THE BIGGEST REACT CONFERENCE WORLDWIDE</h2>
			<h3 class="hero__subtitle">A landmark React event ran since 2016, 1500 in-person attendees and top of industry remote reach</h3>
		</div>

		<div class="hero__bottom">
			<div class="hero__sponsorship sponsorship">
				Sponsorship proposal 2024
			</div>
			<div class="hero__socials">
				<div class="socials-dropdown">
					<button class="social-btn  js-open-socials">
						<svg class="icon icon-heart">
							<use xlink:href="img/sprite.svg#heart"></use>
						</svg>
					</button>
					<div class="socials ">
						<a href="#" class="socials__link">
							<svg class="icon icon-tiktok">
								<use xlink:href="img/sprite.svg#tiktok"></use>
							</svg>
						</a>
						<a href="#" class="socials__link">
							<svg class="icon icon-twitter">
								<use xlink:href="img/sprite.svg#twitter"></use>
							</svg>
						</a>
						<a href="#" class="socials__link">
							<svg class="icon icon-youtube">
								<use xlink:href="img/sprite.svg#youtube"></use>
							</svg>
						</a>
						<a href="#" class="socials__link">
							<svg class="icon icon-medium">
								<use xlink:href="img/sprite.svg#medium"></use>
							</svg>
						</a>
						<a href="#" class="socials__link">
							<svg class="icon icon-gitnation">
								<use xlink:href="img/sprite.svg#gitnation"></use>
							</svg>
						</a>

					</div>
				</div>
			</div>
			<div class="hero__event-by">
				<a href="#" class="btn btn--outline">
					event by <span class="btn__accent-text">GitNation</span>
				</a>
			</div>
		</div>
	</div>
</section>
