<section class=" hero" id="hero">
	<div class="container">
		<div class="hero__top">
			<div class="hero__logo">
				<a href="#" class="logo">
					<img src="{{ info.logo.asset.url }}" alt="React Summit 2024">
				</a>
				<h1 class="hero__name">{{info.name}}</h1>
			</div>
			<div class="hero__date">{{ info.introDate }}</div>
			<div class="hero__location">{{ info.introLocation }}</div>
		</div>

		<div class="hero__middle">
			<h3 class="hero__sponsorship">
				{{ info.introSponsorship }}
			</h3>
			<h2 class="hero__title">{{ info.introTitle }}</h2>
		</div>
	</div>
	{% if info.brandSelect %}
	<div class="hero__video">
		<video preload="auto" loop autoplay muted playsinline>
			<source src="img/video/{{info.brandSelect}}-hero.mp4" type="video/mp4">
		</video>
	</div>
	{% endif %}
</section>
