<section class="section sec-packages" id="packages">
	<div class="container">
		<div class="section__head">
			<h3 class="section__suptitle">{{info.packagesTitle}}</h3>
		</div>

		<div class="packages">
			{% for package in packages %}
			<div class="packages__item packages__item--{{package.title | trim | lower}}">
				<a href="#" class="packages__link _open-modal" data-href="#popup-{{package.packageId}}">&nbsp;</a>
				<div class="packages__head">
					<div class="packages__title">{{package.title | trim | replace('/', ' / ')}}</div>
					<div class="packages__price">{{package.short | safe}}</div>
					<div class="packages__tags tags">{{package.tags | replace('#', '<span>') | replace(' ', '</span>') | safe}}</div>
				</div>
				<div class="packages__content ">
					<ul class="checklist">
						{% for checklist in package.checklist %}
						{% if checklist.title %}
						<li class="{{'active' if checklist.checked === 'yes'}}">{{checklist.title}}</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="packages__arrow">
					<svg class="icon icon-arrow-right">
						<use xlink:href="img/sprite.svg#arrow-right"></use>
					</svg>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</section>
