<section class="section sec-partners" id="partners">
	<div class="container">
		{% if info.sponsorsTitle %}
		<div class="section__head">
			<h3 class="section__suptitle">{{info.sponsorsTitle}}</h3>
		</div>
		{% endif %}

		{% for item in sponsors %}
		<div class="sponsors-block ">
			{% for sponsor in item.list %}
			<a href="{{sponsor.link}}" target="_blank" class="sponsors-block__item">
				<img src="{{sponsor.image.asset.url}}" alt="{{sponsor.name}}">
			</a>
			{% endfor %}
		</div>
		{% endfor %}

		<div class="partners-promo">
			<div class="partners-promo__title">{{info.partnersPromoTitle}}</div>
			<div class="partners-promo__btn">
				<a href="mailto:sales@gitnation.org" class="btn btn--lg btn--secondary">{{info.partnersPromoBtnText}}</a>
			</div>
		</div>
	</div>
</section>
