<section class="section sec-partners" id="partners">
	<div class="container">
		<div class="section__head">
			<h3 class="section__suptitle">sponsoring partner</h3>
		</div>

		{% for item in sponsors %}
		<div class="sponsors-block ">
			{% for sponsor in item.list %}
			<a href="{{sponsor.link}}" target="_blank" class="sponsors-block__item">
				<img src="{{sponsor.image.asset.url}}" alt="{{sponsor.name}}">
			</a>
			{% endfor %}
		</div>
		{% endfor %}

		<div class="partners-promo">
			<div class="partners-promo__title">Want to become our partner?</div>
			<div class="partners-promo__btn">
				<a href="#" class="btn btn--lg btn--secondary">YES, I DO!</a>
			</div>
		</div>
	</div>
</section>
