<section class="section sec-reviews" id="reviews">
	<div class="container">
		<div class="section__head">
			<h3 class="section__suptitle">See what our partners say</h3>
		</div>

		<div class="reviews">
			<div class="swiper reviews-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide review">

						<div class="review__text">
							«The event was really good organized and the talks were really amazing. We enjoyed the good conversations with the other speakers, the audience and other exhibitors. All in all a great event.»
						</div>
						<div class="review__footer">
							<div class="review__author r-author">
								<div class="r-author__img">
									<img src="img/r-author-img.png" alt="">
								</div>
								<div class="r-author__content">
									<div class="r-author__name">Lukas Fischer</div>
									<div class="r-author__company">Microsoft, USA</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">Slide 2</div>
					<div class="swiper-slide">Slide 3</div>
				</div>
			</div>

			<div class="reviews-swiper-navigation">
				<button class="reviews-swiper__prev">
					<svg class="icon icon-chevron-left">
						<use xlink:href="img/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<button class="reviews-swiper__next">
					<svg class="icon icon-chevron-right">
						<use xlink:href="img/sprite.svg#chevron-right"></use>
					</svg>
				</button>
			</div>
		</div>

	</div>
</section>
