
.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor
	transition: all 0.2s linear
	position: relative
	&-heart, &-product, &-lightning, &-connections, &-star-wc, &-across, &-chevron-left, &-chevron-right, &-twitter, &-fb
		fill: none
	&-arrow-right
		stroke: currentColor
		stroke-width: 2px

	&-chevron-right, &-chevron-left
		stroke: currentColor
